Repository eclipse-tractusx/tractusx-sdk, pull requests merged in 2025-03, with the labels that each got.

#36 fix: Resolve Docker creation and Trivy workflow issues
  .github/workflows/trivy.yml
  DEPENDENCIES_TX_DATASPACE_SDK
  DEPENDENCIES_TX_INDUSTRY_SDK
  dataspace/Dockerfile
  dataspace/requirements.txt
  industry/Dockerfile
  industry/requirements.txt
Labels: industry-sdk, dataspace-sdk, dependencies

#44 refactor: migrated to the new project structure defined in #6
  .github/workflows/dependencies.yml
  DEPENDENCIES_TRACTUS-X_SDK
  DEPENDENCIES_TX_INDUSTRY_SDK
  README.md
  dataspace/requirements.txt
  dataspace/tests/test_main.py
  industry/requirements.txt
  pyproject.toml
  src/tractusx_sdk/__init__.py
  src/tractusx_sdk/dataspace/.gitignore
  src/tractusx_sdk/dataspace/Dockerfile
  src/tractusx_sdk/dataspace/README.md
  src/tractusx_sdk/dataspace/__init__.py
  src/tractusx_sdk/dataspace/config/__init__.py
  src/tractusx_sdk/dataspace/config/configuration.yml
  src/tractusx_sdk/dataspace/config/logging.yml
  src/tractusx_sdk/dataspace/main.py
  src/tractusx_sdk/dataspace/managers/__init__.py
  src/tractusx_sdk/dataspace/managers/auth_manager.py
  src/tractusx_sdk/dataspace/models/__init__.py
  src/tractusx_sdk/dataspace/models/example.py
  src/tractusx_sdk/dataspace/services/__init__.py
  src/tractusx_sdk/dataspace/services/edc_service.py
  src/tractusx_sdk/dataspace/tools/__init__.py
  src/tractusx_sdk/dataspace/tools/http_tools.py
  src/tractusx_sdk/dataspace/tools/operators.py
  src/tractusx_sdk/extensions/README.md
  src/tractusx_sdk/industry/.gitignore
  src/tractusx_sdk/industry/Dockerfile
  src/tractusx_sdk/industry/README.md
  src/tractusx_sdk/industry/__init__.py
  src/tractusx_sdk/industry/config/__init__.py
  src/tractusx_sdk/industry/config/configuration.yml
  src/tractusx_sdk/industry/config/logging.yml
  src/tractusx_sdk/industry/main.py
  src/tractusx_sdk/industry/managers/__init__.py
  src/tractusx_sdk/industry/models/__init__.py
  src/tractusx_sdk/industry/models/example.py
  src/tractusx_sdk/industry/services/__init__.py
  src/tractusx_sdk/industry/services/aas_service.py
  src/tractusx_sdk/industry/tools/__init__.py
  test.sh
  tests/__init__.py
  tests/dataspace/__init__.py
  tests/dataspace/manager/__init__.py
  tests/dataspace/manager/test_auth_manager.py
  tests/dataspace/test_main.py
  tests/dataspace/tool/__init__.py
  tests/dataspace/tool/test_operators.py
  tests/dataspace/tools/__init__.py
  tests/dataspace/tools/test_http_tools.py
  tests/industry/__init__.py
  tests/industry/test_main.py
Labels: industry-sdk, dataspace-sdk, dependencies, python

#56 fix(AasService) return Result schema for not 2XX responses
  src/tractusx_sdk/industry/models/__init__.py
  src/tractusx_sdk/industry/models/abstract_aas.py
  src/tractusx_sdk/industry/models/v3/aas.py
  src/tractusx_sdk/industry/services/aas_service.py
Labels: bug, industry-sdk, python
